
.main-contact-wrapper {
  padding-top: 60px;
  background: #f5f6fa;
}

.main-top-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.main-top-container .contact-heading-profile h1 {
  margin-bottom: 10px;
  color: #333;
}

.main-top-container .contact-heading-profile span {
  font-size: 14px;
  color: #000000;
}

.contact-bar-contacts {
  margin-bottom: auto;
}

.contact-bar-contacts ul {
  display: flex;
  align-items: center;
  gap: 15px;
}


.watch-icon a{
  font-weight: 600;
  color: rgb(38, 156, 254);
  display: flex;
  align-items: center;
  gap: 6px;
}
.watch-icon a:hover{
  color: rgb(38, 156, 254);
}
.watch-icon i {
  font-size: 26px;
}

.contact-bar-contacts ul li .btn {
  font-size: 12px;
  padding: 10px 20px;
}

.contact-add-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.contact-add-button__total {
  position: absolute;
  top: 100%; 
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  color:#333;
}
.main-contact-actionbar{
  padding: 40px 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.actionbar-fileter-group{
  display: flex;
  align-items: center;
}

.actionbar-sort{
  margin-right: 35px;
}
.actionbar-sort-container{ 
  display: flex;
  align-items: center;
  min-width: 255px;
}
.actionbar-sort-title{ 
  min-width: 80px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 15px;
}

.contact-custom-dropdown {
  position: relative;
  width: 100%;
}

.contact-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.contact-dropdown-header span {
  color: rgb(102, 102, 102);
}

.contact-dropdown-icon {
  display: flex;
  align-items: center;
}
.contact-dropdown-active .contact-dropdown-icon {
  transform: rotate(180deg);
}
.contact-dropdown-options {
  position: absolute;
  z-index: 10;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-dropdown-option {
  padding: 10px 15px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.contact-dropdown-option:hover {
  background-color: #f0f0f0;
}

.contact-dropdown-active .contact-dropdown-header {
  border-color: rgb(35, 164, 85);
}


.custom-search-input-container {
  border: 1px solid #ccc;
  border-radius: 4px; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-input-wrap {
  position: relative; 
}

.custom-search-input {
  border: none;
  outline: none;
  border-radius: 4px;
  width: 280px;
  height: 48px;
  padding: 0rem 3rem 0rem 1rem;
  background-color: transparent;
}
.custom-search-input-container:hover{
  border: 1px solid rgb(35, 164, 85);
}
.custom-search-input::placeholder {
  color: #aaa;
}

.custom-search-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;

}

.custom-search-icon:hover {
  color: rgb(35, 164, 85);
}

.custom-search-icon svg {
  height: 1.5em; 
  width: 1.5em;
}

.custom-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0px 35px 0px 10px;
  height: 50px;
  border-radius: 4PX;
  background-color: rgb(35, 164, 85);
}

.custom-action-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.custom-export-import{
  margin-right: 20px;
}

.custom-export-import .buttons {
  display: flex;
  width: 210px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.custom-export-import .button-left ,
.custom-export-import .button-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-export-import .button-left{
  border-right: 1px solid rgb(232, 234, 242);
}


.custom-export-import .export-button,
.custom-export-import .import-button{
  border: none;
  background-color: transparent;
}

.custom-export-import .button-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.button-child:hover ,.button-child svg:hover{
  color: rgb(35, 164, 85);
}

.button-child:hover [stroke] {
  stroke: rgb(35, 164, 85);
}

.button-title {
  margin-left: 8px;
  font-size: 14px;
}

.custom-delete-button {
  width: 32px;
  height: 32px;
  background: rgb(255, 231, 231);
  border: 1px solid rgb(255, 14, 14);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px;
}

.custom-delete-button svg [fill] {
  fill: rgb(255, 14, 14);
}
.custom-delete-button  svg [stroke] {
  stroke: rgb(255, 14, 14);
}


.contact-table-container {
  padding: 0px 2rem;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.contact__table th.MuiTableCell-root:first-child{
  padding-left: 0px;
  padding-right: 0px;
  /* width: 30px; */
}

.contact__table th.MuiTableCell-root{
  color: rgb(51, 51, 51);
  padding: 35px 25px;
  font-weight: 600;
  font-size: 14px;
}
.custom-checkbox-input {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 246, 250);
  border: 1px solid rgb(232, 234, 242); 
  background-color: rgb(245, 246, 250); 
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
}

.custom-checkbox-input.selected {
  border-color: rgb(35, 164, 85); 
}

.custom-checkbox-input input:hover {
  border: 1px solid rgb(35, 164, 85); 
  background-color: rgb(240, 255, 240) !important;
}

.custom-checkbox-input.selected:hover {
  border-color: rgb(35, 164, 85);
  background-color: rgb(245, 246, 250); 
}

.hidden-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.custom-checkbox-input::after {
  content: '✔';
  font-size: 16px !important;
  color: rgb(35, 164, 85);
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}
.custom-checkbox-input.selected::after {
  opacity: 1;
}

.contact__table th.MuiTableCell-root:last-child {
  padding-right: 0px;
  width: 100px;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  padding:0px !important;


}
.contact__body td.MuiTableCell-root:first-child{
  padding-left: 0px;
}
.contact__body td.MuiTableCell-root{
  border: none;
  padding: 16px 8px 16px 25px;
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  vertical-align: middle;
}
.contact__body td.MuiTableCell-root.contact__name {
    min-width: 100px;
}


.contact-table-container  tr.MuiTableCell-root:first-child {
  padding-left: 0px;
  padding-right: 0px;
  width: 30px;
}

.contact__full-name p {
  margin-bottom:8px;
  color: rgb(27, 116, 227);
}

.item-country-flag {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.contact__phone {
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact__phone p {
  margin-left: 8px; 
}

.contact__actions {
  display: flex;
  justify-content: space-around;
}







.pagination-wrapper {
  width: 100%;
  padding-top: 14px;

}

.pagination-buttons {
  display: flex;
  align-items: center;
}

.pagination-buttons button {
  padding: 8px 12px;
  margin-left: 8px;
}

.pagination-info {
  font-size: 14px;
}

.main-contact-wrapper .tablepagination__action ,.import__Modal .tablepagination__action{
  width: auto !important;

}

.css-x2wzas-MuiTableCell-root-MuiTablePagination-root:last-child {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.css-x2wzas-MuiTableCell-root-MuiTablePagination-root{
  border-bottom:none !important;
}

.tablepagination__action .pagination_previousnextcont {
  padding-left: 5px;
  padding-right: 5px;
}

.tablepagination__action .Previouspage.active svg,
.tablepagination__action .nextPage.active svg,
.tablepagination__action .Previouspage.active .pagination_previousnextcont,
.tablepagination__action .nextPage.active .pagination_previousnextcont {
  color: rgb(35, 164, 85); 
  fill: rgb(35, 164, 85);  
  margin-top: -3px;
}


.tablepagination__action .Previouspage.inactive svg,
.tablepagination__action .nextPage.inactive svg,
.tablepagination__action .Previouspage.inactive .pagination_previousnextcont,
.tablepagination__action .nextPage.inactive .pagination_previousnextcont {
  color: rgb(169, 169, 169);  
}

.tablepagination__action .Previouspage.active,
.tablepagination__action .nextPage.active {
  background: none;
  border: none;
}
.no-scroll {
  overflow: hidden;
}
.Pagintaion__action{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  }



.contact-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: 100%;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

}
.add__contact-popup{
  max-width: 540px;
}
.filter__popup {
  max-width: 900px;
}
.export__popup{
  max-width: 900px;
}

.contact-modal-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: .28571429rem;
  border-top-right-radius: .28571429rem;
  height: 100%;
  overflow-y: auto;
  max-height: 80vh;
  padding: 0;
  background-color: #fafafa;
}

.custom__param-name, .custom__param-value {
  display: flex;
}
.contact-popup-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(34, 36, 38, .15);
}
.contact-popup-header .contact-Filter-title{
  margin: 0;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 22px !important;

}
.error-message{
  margin-top: 10px;
  text-align: center;
}
.dropdonw-section{
  border-bottom: 1px solid rgb(227, 227, 227) !important;
  padding: 0.658rem 1rem!important;
}
.contact-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.contact-close-btn:hover{
  color: rgb(35, 164, 85);
}

.contact-body-content{
  padding: 1.5rem 2rem;
  max-height: 600px;
  overflow-y: auto;
}

.edit__contact-name:focus,
.edit__contact-phone:focus {
  outline: none;
  border-bottom: 1px solid #ff9100 !important;
  box-shadow: none !important;
}
.contact-align-field{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.contact__align-center{
  align-items: flex-end;
}
.contact-align-button svg{
  width:20px;
  height:20px;
}
.contact-popup-Fields .edit__contact-name {
  height: 44px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  padding: 0px 1em;
}

.edit__contact-phone {
  height: 44px;
  width: 100%;
  padding: 0px 3px 0px 5px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.form-field {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.phone-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-field .custom__param-value input:not([disabled]):hover, 
.form-field .custom__param-value input :not([disabled]):focus {
  border: 1px solid rgb(35, 164, 85);
}
.custom__param-value input {
  background-color: rgb(245, 246, 250);
}
.custom__param-value input {
  flex: 1 1 0%;
  margin: 0px;
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  border-radius: 5px;
  box-shadow: none !important;
  padding: 0px 1em;
  font-size: 1rem;
  box-sizing: content-box;
  width: 100%;
  width: 100%;
  height: 3rem;
  outline: none;
}
.custom__param-delete{
  margin-bottom: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgb(255, 231, 231);
  border: 1px solid rgb(255, 14, 14);
  border-radius: 5px;
  padding: 0px;
}
.custom__param-delete svg {
  width: 20px;
  height: 20px;
  margin: auto;
}
.custom__param-delete:hover:not([disabled]), 
.custom__param-delete:focus:not([disabled]), 
.custom__param-delete:active:not([disabled]) {
  border: 1px solid rgb(35, 164, 85);
  background: rgb(255, 231, 231);
}
.custom__param-delete:hover:not([disabled]) svg [fill],
.custom__param-delete:focus:not([disabled]) svg [fill],
.custom__param-delete:active:not([disabled]) svg [fill] {
  fill: rgb(35, 164, 85);
}
.custom__param-delete:hover:not([disabled]) svg [stroke], 
.custom__param-delete:focus:not([disabled]) svg [stroke], 
.custom__param-delete:active:not([disabled]) svg [stroke] {
  stroke: rgb(35, 164, 85);
}
.custom__param-delete svg [stroke] {
  stroke: rgb(255, 14, 14);
}
.custom__param-delete svg [fill] {
  fill: rgb(255, 14, 14);
}
.custom__param-value-error {
  color: rgb(255, 14, 14);
  margin-bottom: 10px;
}

.custom__param-search-dropdown{
  position: relative;
  width: 100%;
  border-radius: 5px;
  background: rgb(245, 246, 250);
  color: rgb(102, 102, 102);
  font-size: 13px;
}
.custom__param-search-dropdown .selected-item{ 
  position: relative;
  display: flex;
  min-height: 40px;
  padding: 0.658rem 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.custom__param-search-dropdown:focus{
  border: 1px solid rgb(35, 164, 85);

}
.custom__param-input{
  flex: 1 1 0%;
  margin: 0px;
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  background: rgb(245, 246, 250);
  border-radius: 5px;
  box-shadow: none !important; 
}
.custom__param-input:focus{
  border: none;
  outline: none;
}

.contact__actions button:hover {
  background-color: #f4f4f4;
}
/* .css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
  background-color: #fff !important;
} */
  .not-selected-country {
  width: 55px;
  height: 44px;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid rgba(80, 162, 93, 0.32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.has-selected-country {
  width: 78px;
  height: 43.6px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(80, 162, 93, 0.32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.has-selected-country .selected-img {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  object-fit: cover;
}
.not-selected-country .selected-img {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.not-selected-country .dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: flex;
    align-items: center;
}

.custom-attributes{
  min-height:200px;
}

.custom-attributes h6 {
  margin-bottom: 8px;
  color: rgb(51, 51, 51);
}

.custom-attributes .optional-content{
  color: rgb(136, 136, 136);
}

.add-attribute-btn {
  height: 36px;
  min-width: 100px;
  padding: .78571429em 1.5em;
  font-weight: 600;
  line-height: 1em;
  font-size:13px;
  border-radius: .28571429rem;
  background: white;
  border: 1px solid rgb(35, 164, 85);
  color: rgb(35, 164, 85);
  width: 180px;
}

.attribute-list {
  list-style: none;
  padding: 0;
}

.modal-actions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 0px 2rem 2rem;
  border-bottom-left-radius: .28571429rem;
  border-bottom-right-radius: .28571429rem;
  border: none;
}

.cancel-btn {
  width: auto;
  height: 40px;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background: none;
  border:1px solid rgb(51, 51, 51);
  margin: 0;
}

.save-btn {
  width: auto;
  margin: 0;
  height: 40px;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
}
.save-btn.disabled{
    border: 1px solid rgb(206, 208, 206)!important; 
    background: rgb(206, 208, 206)!important; 
    color: #9ca19d!important; 
}
.country-selector {
  position: relative;

}

.contact-dropdown-menu {
  position: absolute;
  top: 105%;
  left: 0;
  width: 232px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-dropdown-title {
  font-weight: 600;
  font-size: 12.5px;
  display: flex;
  width: 100%;
  padding: 8px;
  background-color: #f9f9f9;

}

.contact-dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.dropdown-item:hover {
  contact- background-color: #f0f0f0;
}

.contact-dropdown-item img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  object-fit: cover;
}
  
.contact-country-code {
  color: #888;
  margin-left:10px;
}

.dropdown-container {
  position: relative;
  width: 200px;
  margin: 10px 0;
}

.dropdown-selector input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f6fa;
}

.dropdown-options {
  top: 100%;
  right: 0;
  position: absolute;
  width: calc(100% + 2px);
  max-height: 250px;
  border: 1px solid rgb(232, 234, 242);
  border-radius: 0px 0px 5px 5px;
  background: rgb(255, 255, 255);
  z-index: 2;
  border-top: none;
  overflow-y: auto;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #e9ecef;
}

.input-container {
  margin-top: 10px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f6fa;
}



.contact-filter-content {
  font-size: 1rem;
  width:900px;
  background:#fff;
  text-align: center; 
  z-index: 1001;
  text-align: left;
  border: none;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
  transform-origin: 50% 25%;
  flex: 0 0 auto;
  border-radius: .28571429rem;
}

.contact-popup-main{
  display: block;
  padding: 1.5rem 2rem 5rem;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;


}

.filter__popup .contact-popup-main .css-1ex1afd-MuiTableCell-root{
  border-bottom:none !important;
  padding:0px!important;
}

.contact-filter-row{ 
  display: flex !important;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px!important;
}
.contact-filter-row .filter-dropdown {
  width: 250px !important;
  outline: none;
  border-color: rgba(0, 0, 0, 0.23);
  padding: 0px;
  border-bottom: none;
}
.contact-filter-select-left {
  display: inline-block;
  margin-right:10px;
}

.contact-filter-select-left.rotate {
  transform: rotate(180deg); 
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 12.5px 14px !important;
}
.filter-contact-button{
  width: 40px !important;
  height: 40px !important;
  background: rgb(255, 231, 231) !important;
  border-radius: 5px !important;
  padding: 0px !important;
}
.filter-contact-button svg {
  width: 22px;
  height: 22px;
  margin: auto;
}
.filter-contact-button svg [fill]{
  fill: rgb(255, 14, 14);
}
.filter-contact-button svg [stroke] {
  stroke: rgb(255, 14, 14);
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover{
  border:none!important;
}
.contact-popup-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 2rem 2rem;
  border: none;
}

.contact-popup-footer button {
   padding: 0.7rem 2.5rem;
   margin:0; 
}

.contact-popup-footer button:hover {
  background-color: #218838;
  color: #fff;
}
.custom-attributes .error-message{
  color: rgb(255, 14, 14);
  margin-bottom:5px;
}

.contact-dropdowns{
  width: calc(100% + 2px);
  max-height: 250px;
}


.export-modal-title{
  margin-bottom: 15px !important;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.export__content-Section{
  margin-bottom: 15px !important;
}
.export__content-Section .radio-option{
  color: rgb(53, 55, 53);
  font-size: 14px;
  line-height: 20px;
}
.export__content-Section .radio-caption{
  color: rgb(132, 138, 134);
  font-size: 12px;
  line-height: 16px;
}
.export__popup  .contact-popup-main{
  padding: 1.5rem 2rem 2rem!important;
}
.custom-button-box{ 
  margin-bottom: 20px;
}
.import__Modal{
  max-width: 1080px;
}
.import__Modal .contact-Filter-title{
  font-weight: 600!important;
  font-size: calc(1.42857rem)!important;
  color: rgba(0, 0, 0, .85)!important;
}
.contact__detail_Modal{
  max-width: 520px;
}
.contact__detail_Modal .contact-popup-header{
  border-bottom:none !important;
  justify-content: end;
  align-items: center;
}
.add-green-btn{
  background: rgba(35, 164, 85, 0.05)!important;
  color: #23a455!important;
  padding: 0.5rem 1.5rem!important;
  width: 140px !important;
}
.add-attribute-btn:hover {
  color: rgb(35, 164, 85);
  background: rgb(233, 246, 238);
}
.contact__detail_Modal .contact-detail-footer{
  border-top: 2px solid rgb(242, 242, 242)!important;
  padding: 1.5rem 1.5rem;
}

.contact-name-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.contact-detail-Name{
  color: rgb(69, 69, 69);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.contact__detail_content{
  overflow-y: auto;
  max-height: 620px;
}
.Contact-detail-body{
  padding: 1.5rem 2rem 2rem;
}
.contact-name {
  font-size: 24px;
  font-weight: bold;
}


.contact__info-section,
.contact-attributes-section {
  margin-top: 20px;
}
.contact__info-section-title{
  margin-bottom: 20px;
}
.section-title {
  color: rgb(53, 55, 53);
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-attributes-section h6{
  color: rgb(53, 55, 53);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px;

}

.contact__info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
.contact__info-row label{
  margin-bottom: .0rem;
  width: 120px;
  color: rgb(132, 138, 134);
}
.contact__info-row .item-country-flag {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 4px;

}
.contact__source-section .source__section-title{
  color: rgb(132, 138, 134);
  margin-bottom: 10px;
}

.checkbox-row {
  display: flex;
  gap: 15px;
}

.checkbox-row label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}

.checkbox-row input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
.checkbox-row input[type="checkbox"]:hover {
  border-color: #28a745; 
}
.checkbox-row input[type="checkbox"]:checked {
  background-color: #28a745; 
  border-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-row input[type="checkbox"]:checked::before {
  content: "✔"; 
  font-size: 12px; 
  color: white;
  display: inline-block;
}


.import-contacts__main-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}


.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 0 8px;
}


.step__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 50%;
  background-color: #fff;
  color: #rgb(102, 102, 102);
  font-size: 20px;
  font-weight: bold;
}


.step-wrapper.active-stepper .step__circle {
  background-color: #23a455;
  border-color: #23a455;
  color: #fff;
}


.step__title {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  margin-top: 10px;
  text-align: center;
}


.step-wrapper.active-stepper .step__title {
  color: #23a455;
}


.step__alternative-label {
  position: absolute;
  top: 42%;
  right: calc(50% + 45px);
  left: calc(-50% + 25px);
  z-index: 0;
}

.step__line {
  border: 1px dashed #23a455;
  display: block;
}


.upload-section .Upload-text-content {
  font-size: 16px;
  margin-bottom: 40px;
}
.upload-section-title{
  font-size: calc(1.57143rem);
  font-weight: bold;
  margin-bottom: 14px;
}
.contact-import-Modal{
  padding: 1.5rem 2rem;
}

.upload-section .download-sample {
  color: #28a745;
  font-weight: 400;
  display: inline-block;
}

.file-upload-box {
  border: 1px dashed #28a745;
  background: rgba(35, 164, 85, 0.05);
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}

.upload-box {
  cursor: pointer;
}

.upload-box .upload-icon {
  font-size: 24px;
  color: #28a745;
}
.drag-and-drop-wrapper{
  display: flex;
  gap: 5px;
}
.drag-and-drop-wrapper .upload-text {
    color: rgb(35, 164, 85);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 8px;
    pointer-events: none;
}
.drag-and-drop-wrapper .file-format-text {
  color: rgb(119, 119, 119);
  font-size: 12px;
  pointer-events: none;
}
.file-input {
  display: none;
}
.contact__import-modal_content{
  overflow-Y:auto;
  max-height:600px;
}
@media (max-width: 1400px) {
  .contact__import-modal_content {
    max-height: 500px; 
    height: calc(100vh - 80px); 
  }
}
.progress-upload {
  display: flex;
  padding: 20px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  margin-bottom: calc(2.71429rem);
}

.progress-upload__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progress-upload__file-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.progress-upload__size {
  font-size: 12px;
  margin-top: 11px;
  margin-bottom: 8px;
  color: #666;
}
.progress-upload__success{
  display: flex;
  align-items: center;
  gap: 20px;
}
.progress-upload__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.success-icon {
  color: #23a455;
  font-size: 24px;
}



.radio-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.match__radio-btn {
  margin-right: 10px !important;
}

.radio-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  font-weight: bold;
  color: inherit;
  font-size: calc(1.07143rem);
  margin-bottom: 2px;
}

.radio-description {
  font-size: calc(1.07143rem);

}



.contact-detail-column-mapping{
  width: 100%;
}

.contact-detail-column-mapping .step-title {
  font-size: calc(1.57143rem);
  font-weight: bold;
  margin-bottom: 14px;
}

.contact-detail-column-mapping .step-info {
  font-size: calc(1.14286rem);
  margin-bottom: 30px;
}

.column-mapping__main {
  margin-bottom: 30px;
}

.column-mapping__header {
  display: flex;
  margin-bottom: 14px;
}

.column-mapping__text {
  color: rgb(153, 153, 153);
  font-size: calc(1.14286rem);
  font-weight: bold;
}

.column-mapping__first-part {
  flex-grow: 8;
}

.column-mapping__second-part {
  flex-grow: 5;
}
.column-mapping__main_Section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 500px;
  overflow: auto;
}

.column-mapping__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploaded-column {
  /* width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd; */
  flex-grow: 3;
  flex-basis: 44%;
  display: flex;
  padding: 18px;
  border-radius: 4px;
  background: rgb(245, 246, 250);
  gap: 20px;
}

.uploaded-column__column {
  color: rgb(51, 51, 51);
  font-size: calc(1.14286rem);
  word-break: break-all;
}

.uploaded-column__example {
  color: rgb(153, 153, 153);
  font-size: calc(1.14286rem);
}

.completion-flag {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.completion-flag__disabled{
  width: 21px;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(196, 196, 196);
}
.completion-flag__done, {
  width: 21px;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 164, 85);
}

.completion-flag__done {
  width: 21px;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 164, 85);
}


.select-attribute {
  flex-grow: 3;
  flex-basis: 44%;
  position: relative;
  display: flex;
  padding: 18px;
  border: 1px solid rgba(144, 161, 189, 0.32);
  border-radius: 4px;
  align-items: center;
  margin-right: 4px;

}

.select-attribute__property {
  color: rgb(51, 51, 51);
  font-size: calc(1.14286rem);
  font-weight: bold;
  word-break: break-all;
}

.select-attribute__arrow {
  margin-left: auto;
}
.dKQqWv .second-step__complited-columns {
  font-weight: bold;
}

.attribute-menu {
  position: absolute;
  top: 0px;
  right: -1px;
  left: -1px;
  padding: 20px;
  border: 1px solid rgba(144, 161, 189, 0.32);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  z-index: 1;
}

.attribute-menu__container {
}

/* Search Input */
.attribute-menu__search-container {
  width: 100%;
  height: 24px;
}

.attribute-menu__input-wrapper {
  position: relative;
  display: flex;
}

.attribute-menu__input {
  border: none;
  margin: 0px;
  border-radius: 5px;
  height: 24px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  background: rgb(255, 255, 255);
  padding-left: 3rem;
  box-shadow: none !important;
}

.attribute-menu__search-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 1rem 0.15rem;
  left: 0px;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(170, 170, 170);
}

.attribute-menu__divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 10px 0;
}

.attribute-menu__options {
  max-height: 150px;
  overflow-y: auto;
}

.attribute-menu__option {
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.attribute-menu__option:hover {
  background-color: #f5f5f5;
}

.attribute-menu__option-label {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attribute-menu__actions {
  display: flex;
  gap: 24px;
}
.attribute-menu__button--cancel {
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  background: rgb(206, 208, 206);
  color: #333;
}
 .new-attribute__title {
  font-size: calc(1.14286rem);
  margin-bottom: 12px;
}
.new-attribute__input {
  margin-bottom: 30px;
  width: 100%;
}
 .third-step__title {
  font-size: calc(1.57143rem);
  font-weight: bold;
  margin-bottom: 14px;
}
.third-step__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: calc(1.14286rem);
  margin-bottom: 25px;
}
 .third-step__info-record {
    display: flex;
    gap: 10px;
    align-items: center;
}
.third-step__info-content{
  width:21px;
  height:21px;
}
.contact-third-table-container{
  width: 100%;
  overflow-x: auto;
  max-height: 357px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
}
.contact-third-step__table{
  border: 1px solid rgba(144, 161, 189, 0.32);
  border-bottom: none;
}

.contact-third-step__table tr {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.contact__step-table-section{
  margin-bottom: 20px;
}
.contact-third-step__table .MuiTableCell-root {

  font-size: calc(1.14286rem);
  border-right: 1px solid rgba(144, 161, 189, 0.32) ;
  border-bottom: 1px solid rgba(144, 161, 189, 0.32) ;
}
.contact-third-step__table .MuiTableCell-head{
  background: rgb(219, 225, 234);
  padding: 24px 28px;
}
.third-step__mapping{
  margin-bottom: 40px;
}
 .third-step__invalid_exists {
  color: rgb(255, 14, 14);
  margin-bottom: 16px;
}
.third-step__invalid {
  font-size: calc(1.14286rem);
  font-weight: 500;
  font-style: italic;
}
.contact-third-step__table tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.custom-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.custom-checkbox-label{
  margin-bottom:0px;
}
.contact__source{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
.contact_source_value{
  display: inline-flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: rgb(231, 233, 232);
    cursor: default;
}
 .chip__value {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(78, 84, 81);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.chip__delete-icon {
  display: flex;
  color: rgb(102, 102, 102);
  font-size: 16px;
  cursor: pointer;
}
.chip__delete-icon:hover svg,.chip__delete-icon:focus svg {
  color: rgb(35, 164, 85);
  transition: color 0.15s;
}