
.main-contact-wrapper {
  padding-top: 60px;
  background: #f5f6fa;
}

.main-top-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.main-top-container .contact-heading-profile h1 {
  margin-bottom: 10px;
  color: #333;
}

.main-top-container .contact-heading-profile span {
  font-size: 14px;
  color: #000000;
}

.contact-bar-contacts {
  margin-bottom: auto;
}

.contact-bar-contacts ul {
  display: flex;
  align-items: center;
  gap: 15px;
}


.watch-icon a{
  font-weight: 600;
  color: rgb(38, 156, 254);
  display: flex;
  align-items: center;
  gap: 6px;
}
.watch-icon a:hover{
  color: rgb(38, 156, 254);
}
.watch-icon i {
  font-size: 26px;
}

.contact-bar-contacts ul li .btn {
  font-size: 12px;
  padding: 10px 20px;
}

.contact-add-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.contact-add-button__total {
  position: absolute;
  top: 100%; 
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  color:#333;
}
.main-contact-actionbar{
  padding: 40px 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.actionbar-fileter-group{
  display: flex;
  align-items: center;
}

.actionbar-sort{
  margin-right: 35px;
}
.actionbar-sort-container{ 
  display: flex;
  align-items: center;
  min-width: 255px;
}
.actionbar-sort-title{ 
  min-width: 80px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 15px;
}

.contact-custom-dropdown {
  position: relative;
  width: 100%;
}

.contact-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.contact-dropdown-header span {
  color: rgb(102, 102, 102);
}

.contact-dropdown-icon {
  display: flex;
  align-items: center;
}
.contact-dropdown-active .contact-dropdown-icon {
  transform: rotate(180deg);
}
.contact-dropdown-options {
  position: absolute;
  z-index: 10;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-dropdown-option {
  padding: 10px 15px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.contact-dropdown-option:hover {
  background-color: #f0f0f0;
}

.contact-dropdown-active .contact-dropdown-header {
  border-color: rgb(35, 164, 85);
}


.custom-search-input-container {
  border: 1px solid #ccc;
  border-radius: 4px; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-input-wrap {
  position: relative; 
}

.custom-search-input {
  border: none;
  outline: none;
  border-radius: 4px;
  width: 280px;
  height: 48px;
  padding: 0rem 3rem 0rem 1rem;
  background-color: transparent;
}
.custom-search-input-container:hover{
  border: 1px solid rgb(35, 164, 85);
}
.custom-search-input::placeholder {
  color: #aaa;
}

.custom-search-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;

}

.custom-search-icon:hover {
  color: rgb(35, 164, 85);
}

.custom-search-icon svg {
  height: 1.5em; 
  width: 1.5em;
}

.custom-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0px 35px 0px 10px;
  height: 50px;
  border-radius: 4PX;
  background-color: rgb(35, 164, 85);
}

.custom-action-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.custom-export-import{
  margin-right: 20px;
}

.custom-export-import .buttons {
  display: flex;
  width: 210px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.custom-export-import .button-left ,
.custom-export-import .button-right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-export-import .button-left{
  border-right: 1px solid rgb(232, 234, 242);
}


.custom-export-import .export-button,
.custom-export-import .import-button{
  border: none;
  background-color: transparent;
}

.custom-export-import .button-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.button-child:hover ,.button-child svg:hover{
  color: rgb(35, 164, 85);
}

.button-child:hover [stroke] {
  stroke: rgb(35, 164, 85);
}

.button-title {
  margin-left: 8px;
  font-size: 14px;
}

.custom-delete-button {
  width: 32px;
  height: 32px;
  background: rgb(255, 231, 231);
  border: 1px solid rgb(255, 14, 14);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px;
}

.custom-delete-button svg [fill] {
  fill: rgb(255, 14, 14);
}
.custom-delete-button  svg [stroke] {
  stroke: rgb(255, 14, 14);
}


.contact-table-container {
  padding: 0px 2rem;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.contact__table th.MuiTableCell-root:first-child{
  padding-left: 0px;
  padding-right: 0px;
  /* width: 30px; */
}

.contact__table th.MuiTableCell-root{
  color: rgb(51, 51, 51);
  padding: 35px 25px;
  font-weight: 600;
  font-size: 14px;
}
.custom-checkbox-input {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 246, 250);
  border: 1px solid rgb(232, 234, 242); 
  background-color: rgb(245, 246, 250); 
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
}

.custom-checkbox-input.selected {
  border-color: rgb(35, 164, 85); 
}

.custom-checkbox-input input:hover {
  border: 1px solid rgb(35, 164, 85); 
  background-color: rgb(240, 255, 240) !important;
}

.custom-checkbox-input.selected:hover {
  border-color: rgb(35, 164, 85);
  background-color: rgb(245, 246, 250); 
}

.hidden-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.custom-checkbox-input::after {
  content: '✔';
  font-size: 16px !important;
  color: rgb(35, 164, 85);
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}
.custom-checkbox-input.selected::after {
  opacity: 1;
}

.contact__table th.MuiTableCell-root:last-child {
  padding-right: 0px;
  width: 100px;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  padding:0px !important;


}
.contact__body td.MuiTableCell-root:first-child{
  padding-left: 0px;
}
.contact__body td.MuiTableCell-root{
  border: none;
  padding: 16px 8px 16px 25px;
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  vertical-align: middle;
}
.contact__body td.MuiTableCell-root.contact__name {
    min-width: 100px;
}


.contact-table-container  tr.MuiTableCell-root:first-child {
  padding-left: 0px;
  padding-right: 0px;
  width: 30px;
}

.contact__full-name p {
  margin-bottom:8px;
  color: rgb(27, 116, 227);
}

.item-country-flag {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.contact__phone {
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact__phone p {
  margin-left: 8px; 
}

.contact__actions {
  display: flex;
  justify-content: space-around;
}














/*add contact popup*/


/* .custom__param-name,.custom__param-value{
  display: flex;
} */



.pagination-wrapper {
  width: 100%;
  padding-top: 14px;

}

.pagination-buttons {
  display: flex;
  align-items: center;
}

.pagination-buttons button {
  padding: 8px 12px;
  margin-left: 8px;
}

.pagination-info {
  font-size: 14px;
}



.css-x2wzas-MuiTableCell-root-MuiTablePagination-root:last-child {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.css-x2wzas-MuiTableCell-root-MuiTablePagination-root{
  border-bottom:none !important;
}
@media (min-width: 1024px) and (max-width: 1430px) {
  .tablepagination__action {
    width: 300px;
  }
}

.tablepagination__action .pagination_previousnextcont {
  padding-left: 5px;
  padding-right: 5px;
}

.tablepagination__action .Previouspage.active svg,
.tablepagination__action .nextPage.active svg,
.tablepagination__action .Previouspage.active .pagination_previousnextcont,
.tablepagination__action .nextPage.active .pagination_previousnextcont {
  color: rgb(35, 164, 85); 
  fill: rgb(35, 164, 85);  
  margin-top: -3px;
}


.tablepagination__action .Previouspage.inactive svg,
.tablepagination__action .nextPage.inactive svg,
.tablepagination__action .Previouspage.inactive .pagination_previousnextcont,
.tablepagination__action .nextPage.inactive .pagination_previousnextcont {
  color: rgb(169, 169, 169);  
}

.tablepagination__action .Previouspage.active,
.tablepagination__action .nextPage.active {
  background: none;
  border: none;
}
.no-scroll {
  overflow: hidden;
}





.contact-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  max-width: 540px;
  width: 100%;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  /* max-height: 65vh; */
}

.contact-modal-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: .28571429rem;
  border-top-right-radius: .28571429rem;
  height: 100%;
  overflow-y: auto;
  max-height: 80vh;
  padding: 0;
  background-color: #fafafa;
}

.custom__param-name, .custom__param-value {
  display: flex;
}
.contact-popup-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(34, 36, 38, .15);
}
.contact-popup-header .contact-Filter-title{
  margin: 0;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 22px !important;

}
.error-message{
  margin-top: 10px;
  text-align: center;
}
.dropdonw-section{
  border-bottom: 1px solid rgb(227, 227, 227) !important;
  padding: 0.658rem 1rem!important;
}
.contact-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.contact-close-btn:hover{
  color: rgb(35, 164, 85);
}

.contact-body-content{
  padding: 1.5rem 2rem;
  max-height: 600px;
  overflow-y: auto;
}

.edit__contact-name:focus,
.edit__contact-phone:focus {
  outline: none;
  border-bottom: 1px solid #ff9100 !important;
  box-shadow: none !important;
}
.contact-align-field{
  display: flex; 
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.contact-popup-Fields .edit__contact-name {
  height: 44px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
  padding: 0px 1em;
}

.edit__contact-phone {
  height: 44px;
  width: 100%;
  padding: 0px 3px 0px 5px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.form-field {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.phone-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-field .custom__param-value input:not([disabled]):hover, 
.form-field .custom__param-value input :not([disabled]):focus {
  border: 1px solid rgb(35, 164, 85);
}
.custom__param-value input {
  background-color: rgb(245, 246, 250);
}
.custom__param-value input {
  flex: 1 1 0%;
  margin: 0px;
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  border-radius: 5px;
  box-shadow: none !important;
  padding: 0px 1em;
  font-size: 1rem;
  box-sizing: content-box;
  width: 100%;
  width: 100%;
  height: 3rem;
  outline: none;
}
.custom__param-delete{
  margin-bottom: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgb(255, 231, 231);
  border: 1px solid rgb(255, 14, 14);
  border-radius: 5px;
  padding: 0px;
}
.custom__param-delete svg {
  width: 20px;
  height: 20px;
  margin: auto;
}
.custom__param-delete:hover:not([disabled]), 
.custom__param-delete:focus:not([disabled]), 
.custom__param-delete:active:not([disabled]) {
  border: 1px solid rgb(35, 164, 85);
  background: rgb(255, 231, 231);
}
.custom__param-delete:hover:not([disabled]) svg [fill],
.custom__param-delete:focus:not([disabled]) svg [fill],
.custom__param-delete:active:not([disabled]) svg [fill] {
  fill: rgb(35, 164, 85);
}
.custom__param-delete:hover:not([disabled]) svg [stroke], 
.custom__param-delete:focus:not([disabled]) svg [stroke], 
.custom__param-delete:active:not([disabled]) svg [stroke] {
  stroke: rgb(35, 164, 85);
}
.custom__param-delete svg [stroke] {
  stroke: rgb(255, 14, 14);
}
.custom__param-delete svg [fill] {
  fill: rgb(255, 14, 14);
}
.custom__param-value-error {
  color: rgb(255, 14, 14);
}

.custom__param-search-dropdown{
  position: relative;
  width: 100%;
  border-radius: 5px;
  background: rgb(245, 246, 250);
  color: rgb(102, 102, 102);
  font-size: 13px;
}
.custom__param-search-dropdown .selected-item{ 
  position: relative;
  display: flex;
  min-height: 40px;
  padding: 0.658rem 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.custom__param-search-dropdown:focus{
  border: 1px solid rgb(35, 164, 85);

}
.custom__param-input{
  flex: 1 1 0%;
  margin: 0px;
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  background: rgb(245, 246, 250);
  border-radius: 5px;
  box-shadow: none !important; 
}
.custom__param-input:focus{
  border: none;
  outline: none;
}

.contact__actions button:hover {
  background-color: #f4f4f4;
}
/* .css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover{
  background-color: #fff !important;
} */
  .not-selected-country {
  width: 55px;
  height: 44px;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid rgba(80, 162, 93, 0.32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.has-selected-country {
  width: 78px;
  height: 43.6px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(80, 162, 93, 0.32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.has-selected-country .selected-img {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  object-fit: cover;
}
.not-selected-country .selected-img {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.not-selected-country .dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: flex;
    align-items: center;
}

.custom-attributes{
  min-height:200px;
}

.custom-attributes h6 {
  margin-bottom: 8px;
  color: rgb(51, 51, 51);
}

.custom-attributes .optional-content{
  color: rgb(136, 136, 136);
}

.add-attribute-btn {
  width: auto;
  height: 34px;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(35, 164, 85);
  background: rgba(35, 164, 85, 0.05);
  color: #23a455;
}

.attribute-list {
  list-style: none;
  padding: 0;
}

.modal-actions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 0px 2rem 2rem;
  border-bottom-left-radius: .28571429rem;
  border-bottom-right-radius: .28571429rem;
  border: none;
}

.cancel-btn {
  width: auto;
  height: 40px;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border:1px solid rgb(51, 51, 51);
  margin: 0;
}

.save-btn {
  width: auto;
  margin: 0;
  height: 40px;
  min-width: 100px;
  padding: 0.5rem 1.5rem;
}

.country-selector {
  position: relative;

}

.contact-dropdown-menu {
  position: absolute;
  top: 105%;
  left: 0;
  width: 232px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-dropdown-title {
  font-weight: 600;
  font-size: 12.5px;
  display: flex;
  width: 100%;
  padding: 8px;
  background-color: #f9f9f9;

}

.contact-dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.dropdown-item:hover {
  contact- background-color: #f0f0f0;
}

.contact-dropdown-item img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  object-fit: cover;
}
  
.contact-country-code {
  color: #888;
  margin-left:10px;
}

.dropdown-container {
  position: relative;
  width: 200px;
  margin: 10px 0;
}

.dropdown-selector input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f6fa;
}

.dropdown-options {
  top: 100%;
  right: 0;
  position: absolute;
  width: calc(100% + 2px);
  max-height: 250px;
  border: 1px solid rgb(232, 234, 242);
  border-radius: 0px 0px 5px 5px;
  background: rgb(255, 255, 255);
  z-index: 2;
  border-top: none;
  overflow-y: auto;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #e9ecef;
}

.input-container {
  margin-top: 10px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f6fa;
}

.filter-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  max-width: 900px;
  width: 100%;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.contact-filter-content {
  font-size: 1rem;
  width:900px;
  background:#fff;
  text-align: center; 
  z-index: 1001;
  text-align: left;
  border: none;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
  transform-origin: 50% 25%;
  flex: 0 0 auto;
  border-radius: .28571429rem;
}

.contact-popup-main{
  display: block;
  padding: 1.5rem 2rem 5rem;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  background: #fff;

}

.contact-popup-main .css-1ex1afd-MuiTableCell-root{
  border-bottom:none !important;
  padding: 0px!important;
}

.contact-filter-row{ 
  display: flex !important;
  gap: 19px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px!important;
}
.contact-filter-row .filter-dropdown{
  width:250px !important;
  outline: none;
  border-color: rgba(0, 0, 0, 0.23);
}

.contact-filter-select-left {
  display: inline-block;
  margin-right:10px;
}

.contact-filter-select-left.rotate {
  transform: rotate(180deg); 
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 12.5px 14px !important;
}
.filter-contact-button{
  width: 40px !important;
  height: 40px !important;
  background: rgb(255, 231, 231) !important;
  border-radius: 5px !important;
  padding: 0px !important;
}
.filter-contact-button svg {
  width: 22px;
  height: 22px;
  margin: auto;
}
.filter-contact-button svg [fill]{
  fill: rgb(255, 14, 14);
}
.filter-contact-button svg [stroke] {
  stroke: rgb(255, 14, 14);
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover{
  border:none!important;
}
.contact-popup-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 2rem 2rem;
  border: none;
}

.contact-popup-footer button {
   padding: 0.7rem 2.5rem;
   margin:0; 
}

.contact-popup-footer button:hover {
  background-color: #218838;
  color: #fff;
}
.custom-attributes .error-message{
  color: rgb(255, 14, 14);
  margin-bottom:5px;
}

.contact-dropdowns{
  width: calc(100% + 2px);
  max-height: 250px;
}

