/* .App {
  text-align: center;
} */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; 
  height: 90%; 
  overflow-y: scroll;  
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid #e0ebeb;
  padding-bottom: .8rem;
  
}
.lnav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.rnav{
  display: flex;
  margin-right: 1rem;
  gap: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav li{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #495252;
  font-weight: 500;
  font-size: .9rem;
  cursor: pointer;
}
.nav .navicon1{
  font-size: 1.5rem;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 2rem;
  color: #FFBF00;
  background-color: #FCEAB7;
  border: none;
}
.nav .navicon2{
  font-size: 1.3rem;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 2rem;
  color: #EC5962;
  background-color: #F8D5D6;
  border: none;
}
.nav .navicon3{
  font-size: 1.3rem;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 2rem;
  color: #666666;
  background-color: #ECECEC;
  border: none;
}
.nav .navcont{
  font-size: .7rem;
}
.nav a{
  text-decoration: none;
  color: #495252;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.nav .solo a{
  color: rgb(35, 164, 85);
}
.msgContL{
  background-color: white;
  border-right: 1px solid #e3e7e7;
  padding: 2rem;
  width: 18%;
}
.msgContR{
  background-color: rgb(245, 246, 250);
  width: -webkit-fill-available;
  padding-bottom: 24.5rem;
}
.msgContL li{
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;
}
.msgContL a{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: .5rem;
  gap: .4rem;
  color: #666666;
  cursor: pointer;
}
.msgContL .solo a{
  color: rgb(35, 164, 85);
}

.msgContR .btn{
  padding: .8rem;
  background-color: rgb(35, 164, 85);
  color: white;
  border: none;
  border-radius: .5rem;
  margin-top: 7rem;
  margin-left: 9rem;

  cursor: pointer;
}
.msgContR .btn:hover{
  background-color: rgb(83, 185, 122);
}
.contImg{
  display: flex;
  /* margin-top: 3rem; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textarea {
  width: 75%;
  height: 120px;
  margin: 10px 0;
  font-size: 1rem;
}
.textareamail {
  width: 70%;
  height: 100px;
  margin: 10px 0;
}
.boldCont{
  margin-bottom: -.9rem;
}

/* .preview-text { */
  /* position: absolute;
  left: 46rem;
  margin-top: 10px;
  width: 8%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 16px; */
  /* word-break: break-word;
  position: absolute;
  top: 27%;
  left: 22%;
  font-size: 1.2rem;
  width: 55%; */
/* } */

/* .imgWithCont{ */
  /* position: relative; */
/* } */
/* .preview-textMail{ */
  /* position: absolute;
  top: 16rem;
  left: 46rem;
  margin-top: 10px;
  width: 8%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: red;
  font-size: 16px; */
  /* word-break: break-word;
  position: absolute;
  top: 17%;
  left: 22%;
  font-size: 1rem;
  width: 55%;
} */
