/* .App {
  text-align: center;
} */
/* popup start */
.main{
  position: relative;
}
.starFooter{
  position: absolute;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000d9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 73%; 
  height: 85%; 
  overflow-y: scroll;
  position: relative;
}
.modal-content::-webkit-scrollbar {
  width: 10px;
}
.modal-content::-webkit-scrollbar-track {
  border-radius: 10px; 
}
/* Handle */
.modal-content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
.popupNav{
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
  border-bottom: 1px solid #d1e0e0;
  margin-left: 1rem;
}
.popupNav .close-button{
  font-size: 1.1rem;
}
.bodyPoppup{
  display: flex;
  justify-content: space-between;
}
.bodyPoppupL{
  height: 30rem;
  width: 68%;
  overflow-y: scroll;
  /* padding: .5rem; */
  padding-right: 2rem;
  margin: .5rem;
  position: relative;
}
/* width */
.bodyPoppupL::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.bodyPoppupL::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
.bodyPoppupL::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}
.bodyPoppupR p{
  font-size: 1rem;
  color: rgb(63,63, 63);
}
.bodyPoppupR .selectImg{
  width:321px;
  height: 95%;
  margin-top: -1.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.custom-option {
  background-color: whitesmoke;
  padding: 10px;
}
.popupNav .popupNavHead{
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: rgb(63, 63, 63);
}
.bodyPoppupL .popupBlue{
  border: 1px solid rgb(234, 241, 251);
  background: rgb(234, 241, 251);
  font-size: 13px;
  padding: 0.9rem;
  border-radius: .5rem;
  width: 99%;
}
.bodyPoppupL .popupBlue a{
  text-decoration: none;
  border: 1px solid blue;
  color: white;
  border-radius: 5px;
  padding: .2rem 1rem .2rem 1rem;
  background-color: blue;
  cursor: pointer;
}
.popupInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popupInput label{
  display: flex;
  font-size: .7rem;
  font-weight: 700;
  color: rgb(63, 63, 63);
}
.popupInput input{
  padding: .5rem;
  background-color: #f0f5f5;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: .8rem;
  opacity: .5;
  width: 104%;
  outline-color: rgb(35, 164, 85);
}

.popupInput .select1{
  padding: .5rem;
  background-color: #f0f5f5;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: .8rem;
  opacity: .5;
  width: 154%;
  outline: none;
}
.popupInput .select1:hover{
  outline-color: rgb(35, 164, 85);
}
.popupInput .select2{
  padding: .5rem;
  background-color: #f0f5f5;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: .8rem;
  opacity: .5;
  width: 116%;
  outline-color: rgb(35, 164, 85);
}
.popupFilterInput{
  display: flex;
  align-items: center;
  margin-left: -1rem;
}

/* popu end */

/* radio start */

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Create a custom radio button */
input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* Style the checked state of the custom radio button */
input[type="radio"]:checked + label:before {
  background-color: rgb(35, 164, 85);
  border-color: rgb(35, 164, 85);
}

/* Align the label text vertically */
input[type="radio"] + label {
  vertical-align: middle;
}
.poppupRadio{
  display: flex;
  gap: .8rem;
  margin-bottom: 1rem;
}
.poppupRadioCont{
  margin-top: -.5rem;
  border-bottom: 1px solid #dfe6e6;
}
.poppupRadioCont p{
  text-align: start;
  font-size: .7rem;
  font-weight: 700;
  color: rgb(63, 63, 63);
}
.poppupRadio label{
  font-size: .9rem;
  font-weight: 500;
  color: rgb(63, 63, 63);
}
.poppupInputLabel{
  display: flex;
  gap: .5rem;
}
.poppupInputLabel:hover{
  background-color: whitesmoke;
}
.poppupInputLabel:active{
  border-color: rgb(35, 164, 85);
}
.poppupInputLabel:focus-visible{
  border-color: rgb(35, 164, 85);
}
.splIcon{
  display: flex;
  align-items: center;
}
.poppupInputLabelIcon{
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 3rem;
  height: 1.2rem;
  border-radius: 2rem;
  align-items: center;
  background-color: 	 #ececec;
  border: none;
  margin-left: .5rem;
}
.poppupInputLabelIcon p{
  font-size: .7rem;
  color: rgb(104, 101, 101);
  font-weight: 400;
}
/* radio end */

/* broadcast start */
.poppupBroadcast{
  text-align: start;
  border-bottom: 1px solid #e0ebeb;
}
.poppupBroadcast h5{
  color: rgb(61, 61, 61);
  margin-bottom: -.2rem;
}
.poppupBroadcast p{
  color: rgb(61, 61, 61);
  font-size: .8rem;
}
.poppupBroadcastInput{
  padding: .5rem;
  background-color: #dee4e4;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: .8rem;
  opacity: .5;
  /* width: 20%; */
  outline: rgb(35, 164, 85);
}
.poppupBroadcastInput:hover{
  border-color: #dee4e4;
}
.titleInput input{
  padding: .7rem;
  width: -webkit-fill-available;
  background-color: rgb(245, 246, 250);
  border: none;
  border-radius: 5px;
  opacity: .5;
  margin-bottom: 1rem;
  outline-color: rgb(35, 164, 85);
}
.titleInput input:hover{
  border-color: rgb(35, 164, 85);
}

/* broadcase end */

/* body start */
.poppupBodyInputCont p{
  text-align: center;
  border: 1px solid rgb(35, 164, 85);
  width: 14%;
  padding: .5rem;
  color: rgb(35, 164, 85);
  font-size: .7rem;
  border-radius: .3rem;
  background-color: #f6f8f8;
}
.poppupBodyInput textarea{
  background-color: rgb(245, 246, 250);
  border: none;
  border-radius: .5rem;
  /* position: relative; */
  width: -webkit-fill-available;
  margin-bottom: 0.9rem;
  padding-top: 3.5rem;
  outline: none;
}
.poppupBodyInput input{
  padding: .7rem;
  border: none;
  background-color: white;
  border-radius: .2rem;
  position: absolute;
  top: .5rem;
  left: 0.4rem;
  padding-left: 27.7rem;
}
.poppupBodyInputIcons{
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: gray;
}
.poppupBodyInput{
  position: relative;
}

/* body end */
/* footer start */

.poppupFooterInput input{
  padding: .5rem;
  width: 97%;
  border: none;
  background-color: rgb(245, 246, 250);
  margin-bottom: 1rem;
  outline-color: rgb(35, 164, 85);
}

/* footer start */
/* button start */

.poppupButton{
  text-align: start;
}
.poppupButton h5{
  color: rgb(61, 61, 61);
  margin-bottom: -.2rem;
}
.poppupButton p{
  color: rgb(61, 61, 61);
  font-size: .8rem;
}

/* button end */
/* end buttons start */
.poppupButtons .poppupButtons1, .poppupButtons2{
  padding: .5rem;
  border-radius: .3rem;
  font-size: .7rem;
}
.poppupButtons{
  display: flex;
  gap: .9rem;
  justify-content: end;
}
.poppupButtons1{
  border: 1px solid rgb(35, 164, 85);
  display: flex;
  gap: .9rem;
  background-color: rgb(245, 246, 250);
  color: rgb(35, 164, 85);
}
.poppupButtons2{
  border: 1px solid black;
  display: flex;
  gap: .9rem;
  background-color: rgb(35, 164, 85);
  color: white;
  border: none;
}
/* end buttons end */

.nav{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #e0ebeb;  
}
.lnav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
}
.rnav{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 27%;
  margin-top: .5rem;
}
.nav li{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #495252;
  font-weight: 500;
  font-size: .9rem;
  cursor: pointer;
}
.nav .navicon1{
  font-size: 1.5rem;
  border: 1px solid black;
  padding: .2rem;
  border-radius: 2rem;
  color: #FFBF00;
  background-color: #FCEAB7;
  border: none;
}
.nav .navicon2{
  font-size: 1.3rem;
  border: 1px solid black;
  padding: .3rem;
  border-radius: 2rem;
  color: #EC5962;
  background-color: #F8D5D6;
  border: none;
}
.nav .navicon3{
  font-size: 1.1rem;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 2rem;
  color: #666666;
  background-color: #ECECEC;
  border: none;
}
.nav .navcont{
  font-size: .7rem;
  margin-top: -.4rem;
}
.nav a{
  text-decoration: none;
  color: rgb(102, 102, 102);
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 13px;
}
.nav .solo a{
  color: rgb(35, 164, 85);
}
.msgCont{
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.msgContL{
  background-color: white;
  border-right: 1px solid #e3e7e7;
  padding: 30px 20px;
  width: 13%;
  position: relative;
}
.msgContR{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(245, 246, 250);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding-top: .5rem;
}
.msgContL li{
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;
}
.msgContL a{
  display: flex;
  align-items: center;
  margin-bottom: 2.3rem;
  margin-top: .5rem;
  gap: .4rem;
  color: #666666;
  cursor: pointer;
}
.msgContL .solo a{
  color: rgb(35, 164, 85);
}

.msgContR .btn{
  padding: .8rem;
  background-color: rgb(35, 164, 85);
  color: white;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.msgContR .btn:hover{
  background-color: rgb(83, 185, 122);
}
.contImg{
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textarea {
  width: 75%;
  height: 120px;
  margin: 10px 0;
  font-size: 1rem;
}
.textareamail {
  width: 70%;
  height: 100px;
  margin: 10px 0;
}
.boldCont{
  margin-bottom: -.9rem;
}
.tutorialIcon{
  border: 1px solid white;
  padding: .3rem;
  background-color: rgb(38, 156, 254);
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}
.style{
  font-size: .8rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the inputs */
}

.input-icon-wrapper1 {
  position: relative;
  width: 126px;
}
.input-icon-wrapper2 {
  position: relative;
  width: 287px;
}

.input-field1 {
  width: 100%;
  padding: .9rem; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: #23a455;
  font-size: 11.4px;
}
.input-field1:hover{
  border-color: rgb(83, 185, 122);
  cursor: pointer;
}
.input-field2:focus-visible{
  border-color: rgb(83, 185, 122);
}
.input-field2:hover{
  border-color: rgb(83, 185, 122);
}
.input-field2 {
  width: 93%;
  padding: .9rem; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: rgb(35, 164, 85);
  font-size: .75rem;
  font-weight: 300;
  /* opacity: .5; */

}
.input-field2::placeholder {
  color: rgb(207, 201, 201);
  opacity: 1;
}



.icon1 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none; 
  font-size: 1.3rem;
}
.icon2 {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  color: #8d8b8b;
  pointer-events: none;
  font-size: 1.2rem; 
  font-weight: 600;
}
.portCont{
  /* display: flex;
  justify-content: center;
  width: 164px;
  height: 43px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: none; */
  display: flex;
  justify-content: center;
  width: 163px;
  height: 50px;
  /* padding: 10px 0px; */
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
}
.msgContRLeft{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.msgContRRight{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sortIcon{
  background-color: rgb(35, 164, 85);
  border: 1px solid rgb(35, 164, 85);
  padding: .4rem;
  border-radius: .3rem;
  margin-left: -1rem;
  cursor: pointer;
}
.vdoCont{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.vdoCont a{
  font-size: .8rem;
  color: #2196f3;
  font-weight: 600;
  text-decoration: none;
}
.exportIcon{
  font-size: 1.2rem;
  color: #495252;
  font-weight: 600;
}
.importIcon{
  font-size: 1.2rem;
  color: #495252;
  font-weight: 600;
}
.ImportExport{
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: .9rem;
  font-weight: 400;
}
.sortCont p{
  font-size: .9rem;
  font-weight: 500;
  margin-right: .5rem;
}
.border{
  border: solid rgb(225 231 231 / 78%);
  height: 1rem;
  border-width: 0.01rem;
}
.dangerIcon{
  width: 14px;
    height: 14px;
    background-color: rgb(14, 113, 195);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.dangerWithCont{
  color: rgb(14, 113, 195);
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  width: fit-content;
  margin-top: -.0rem;
}
.dangerNum{
  font-weight: 800;
  margin-top: -1rem;
  font-size: .75rem;
  color: rgb(35, 164, 85);
}
.navcont{
  display: flex;
  flex-direction: column;
}
.paraLink{
  font-size: .7rem;
  display: inline-block;
  margin: 0px;
  padding: 0rem 1rem;
  background-color: rgb(233, 246, 238);
  border-radius: 40px;
  border: 1px solid rgb(35, 164, 85);
  margin-top: 1rem;
  margin-left: 2rem
}
.wholemsgContR{
  width: 114%;
  height: -webkit-fill-available;
  background-color: rgb(245, 246, 250);
  padding-bottom: 2rem;
}
.paraLink a{
  color: rgb(35, 164, 85);
  font-weight: bold;
}
.table table{
  width: 114%;
  font-size: 15px;
  /* margin: 1rem; */
}
.table tr, td{
  padding: 1rem;
  text-align: center;
}
.table th{
  padding: 1rem;
  color: rgb(51, 51, 51);
  font-weight: 500;
}
.table tr{
  padding-bottom: 4rem;
}
.table .statusBtn{
  background-color: rgb(233, 246, 238);
  color: rgb(35, 164, 85);
  margin: 0px auto;
  width: 126%;
  border: none;
  height: 2.5rem;
  display: block;
  border-radius: 100px;
  font-size: .9rem;
  padding: 0px 12px;
  text-align: center;
}
.table .actionBtn{
  background-color: rgb(233, 246, 238);
  color: rgb(35, 164, 85);
  border: 1px solid;
  margin: 0px auto;
  width: 41%;
  height: 1.8rem;
  border-radius: .5rem;
  font-size: 0.7rem;
  padding: 0px 12px;
  text-align: center;
  margin-right: 31.7px;
}
.table .action{
  display: flex;
  /* align-items: center; */
}
.icon-popup{
  border: 1px solid black;
  position: absolute;
  top: 53%;
  left: 90%;
  color: white;
  background-color: rgb(34, 33, 33);
  font-size: .6rem;
  padding: .2rem;
  border-radius: 5px;
}
.table .actionSpanCopy{
  border-radius: .3rem;
  padding: .2rem;
  background-color: #efeff5;
  border: 1px solid #e0e0eb;
  height: fit-content;
  margin-left: -.3rem;
  margin-right: .5rem;
}
.table .actionSpanDelete{
  border-radius: .3rem;
  padding: .2rem;
  background-color: #efeff5;
  border: 1px solid #e0e0eb;
  height: fit-content;
}
.bodyFooter{
  background-color: rgb(248 248 251);
  width: 110.5%;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.footer{
  padding-right: 1rem;
    background-color: rgb(245, 246, 250);
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    font-weight: bold;
    font-size: .9rem;
    color: #484646;
}
/* .footerCenter{
  display: flex;
  align-items: center;
} */
.copy-icon{
  font-size: 1rem;
}
.copy-icon:hover{
  color: #23a455;
  cursor: pointer;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* App.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000d9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popup-box {
  background: white;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  width: 381px;
  height: 270px;
  margin-bottom: 1rem;
  position: relative;
  /* height: 40px;
  width: 200px; */
  overflow-y: scroll;
}
.popupExtra{
  border: 1px solid white;
  width: 28rem;
  background-color: white;
  padding-top: 2rem;
  border-radius: 3px;
}
/* width */
.popup-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.popup-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.popup-box::-webkit-scrollbar-thumb {
  background: rgb(185, 184, 184); 
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 8.5rem;
  right: 29rem;
  background: none;
  border: none;
  font-size: 27px;
  cursor: pointer;
}

.popup-content h2 {
  margin-top: 0;
}

/* filter poppup start */
.filterPoppup{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1e0e0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.filterPoppup .filterCont{
  display: flex;
  font-size: 15px;
  margin-top: 0rem;
  font-weight: 500;
}
.popupInputFilter{
  margin-bottom: 0.3rem;
  width: 55px;
  height: 30px;
  accent-color: rgb(35, 164, 85);
  /* accent-color: whitesmoke; */
}

.poppupSubmit{
  width: 7%;
  position: fixed;
  top: 30rem;
  background-color: rgb(35, 164, 85);
  left: 50rem;
  padding: 0.7rem;
  color: white;
  border: none;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
/* filter poppup end */
/* footer started start */
.starFooter p{
  border: 1px solid rgb(35, 164, 85);
  width: fit-content;
  padding: 1rem;
  background-color: rgb(35, 164, 85);
  color: white;
  height: .8rem;
  border-radius: 2rem;
  padding-top: 0.5rem;
  position: fixed;
  top: 33rem;
  left: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* footer started end */

/* started popup start */

/* Popup.css */
.StartedPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StartedPopup-content {
  background: white;
  /* padding: 20px; */
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
  width: 23%;
  border: none;
  border-radius: .3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: -2rem;
}
/* App.css */
.StartedPopup {
  position: fixed;
  top: -50px;
  left: -490px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: #666666;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.startedList{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.startedList p{
  font-weight: 600;
  font-size: .9rem;
}
.startedListHr{
  border-bottom: 1px solid rgb(218, 217, 217);
}
.startedBasic{
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: white;
}
.startedBasicI{
  font-size: 1.8rem;
}
.startedBasicBg{
  background-color: rgb(35, 164, 85);
  padding: 20px;
}
.startedLists{
  padding: 0px 20px;
}
.startedDismiss{
  margin-top: -1rem;
  cursor: pointer;
}
.startedBasicBg .progress{
  /* font-size: 2rem; */
  color: rgb(35, 164, 85);
}
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  height: 1rem;
}
 /* For WebKit browsers (Chrome, Safari) */
 progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 2rem;
}

progress::-webkit-progress-value {
  background-color: rgb(35, 164, 85);
  border-radius: 2rem;
  margin-left: .2rem;
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: rgb(35, 164, 85);
  border-radius: 5px;
}
.startedBasicCont{
  font-size: 1.3rem;
}
.startedBasicBgCont{
  color: white;
  text-align: start;
}


/* started popup end */
.previewStyle{
  border: 1px solid white;
  background-color: white;
  width: 19%;
  padding: 1.5rem;
  position: absolute;
  top: 14rem;
  left: 45rem;
  border-radius: .5rem;
  text-align: start;
  padding-left: 0.5rem;
  padding-top: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  padding-right: .5rem;
  margin-left: 1.3rem;
  /* width: 200px;
  height: 270px;
  overflow: auto; */
  max-height: 17rem;
  overflow: auto;
}
.bg-img-div{
  background-color: rgb(235, 237, 242);
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 125px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    overflow: hidden;
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 5px;
}

 .previewTextStyle{
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.previewBodyStyle{
  font-size: .9rem;
  padding-bottom: 1rem;
}
.previewFooterStyle{
  font-size: .7rem;
} 
.previewStyleTime{
  color: grey;
  font-size: .7rem;
  text-align: end;
  margin-bottom: -1.1rem;
  margin-top: 1rem;
}

.documentVdoImg{
  /* background-color: gray;
  width: -webkit-fill-available;
  position: absolute;
  margin-top: .2rem;
  height: 50%;
  margin-left: -.5rem; */
  background-color: rgb(235, 237, 242);
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 65px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  overflow: hidden;
  margin-bottom: 15px;

}
.dropImg .dropImgp{
  font-size: .7rem;
  color: blue;
}
.dropInput{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.dropInput1{
  width: 69%;
  border: none;
  background-color: #dee4e4;
  border-radius: .4rem;
  height: 1.9rem;
  font-size: .7rem;
  opacity: .5;
}
.dropInput2{
  width: 45%;
  background-color: #dee4e4;
  /* border-radius: .4rem; */
  height: 1.4rem;
  outline-color: rgb(35, 164, 85);
  border: none;
  text-align: start;
  display: flex;
  align-items: center;
  color: rgb(35, 164, 85);
}
.dropInput3{
  font-size: .7rem;
  padding: .5rem;
  width: 15%;
  text-align: center;
  color: rgb(35, 164, 85);
  margin-top: .8rem;
  margin-bottom: .8rem;
  background-color: #dee4e4;
  border: none;
}
.radio-btn{
  width: 17px;
  height: 17px;
  background: rgb(255, 255, 255);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(35, 164, 85);
  border-radius: 50%;
  font-size: 1.25rem;
}
.radio-active .radio-btn::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  flex: 0 0 auto;
  background: rgb(35, 164, 85);
}
/* .radio-active{
  border: 1px solid rgb(35, 164, 85);
} */
.button-standard {
  margin-right: 10px;
}
.active__standardbutton {
  border: 1px solid rgb(35, 164, 85);
}
.bsHFOv {
  --color: #333;
  background: none;
  color: var(--color);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  border-style: solid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, Inter;
  font-size: 13px;
  transition: box-shadow 0.3s ease 0s;
  min-width: 100px;
  width: auto;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.market-radio__button {
  border: 1px solid rgb(211, 211, 211);
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
}
.sampopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 1;
}

.sampopup-content {
  background-color: white;
  padding: 20px;
  border-radius: .2rem;
  position: absolute;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 30%;
  height: 55%;
  top: 12rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.samPopH2{
  text-align: start;
  font-size: 1.45rem;
  color: #2c2b2b;
}
.samPopP{
  font-size: 0.7rem;
  text-align: start;
  color: #2c2b2b;
  margin-top: -.8rem;
}
.sampopup-content .sampopInput{
  width: 96%;
  display:block;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .2rem;
  font-size: .8rem;
  background-color: rgb(35, 164, 85);
  border: 1px solid rgb(35, 164, 85);
  text-decoration: none;
  color: white;
}
.carouselExtraInput{
  border: 1px solid rgb(235, 217, 147);
  background-color: rgb(255, 252, 240);
}
.carouselIconCont{
  display: flex;
  align-items: center;
  gap: .8rem;
}
.carouselExtraInput{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 5rem; */
}
.carouselCont p{
  font-size: .8rem;
  margin-top: -.6rem;
}
.carouselCont h5{
  font-size: .9rem;
  margin-top: .6rem;
}
.carouselCont{
  text-align: start;
}
.carouselIconBtn{
  border: 1px solid rgb(35, 164, 85);
  height: 1.5rem;
  width: 14%;
  display: flex;
  align-items: center;
  gap: .3rem;
  padding: .5rem;
  background-color: rgb(35, 164, 85);
  border-radius: .2rem;
  color: white;
  cursor: pointer;
  padding-left: 1rem;
}
.carouselIconBtn .carIcon{
  border: 1px solid white;
  color: rgb(35, 164, 85);
  background: white;
  border-radius: .5rem;
  font-size: .5rem;
  padding: .1rem;
}
.carDiaIcon{
  font-size: 1.2rem;
  color: orange;
}


.upgradePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2
}

.upgradePopup-content {
  background-color: white;
  color: black;
  padding: 62px 80px 40px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.close {
  position: absolute;
  font-size: 1.8rem;
  color: gray;
  cursor: pointer;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  height: 1.4rem;
  width: 1.5rem;
  padding: .2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgradePopTitle h5{
  color: gray;
  font-weight: 500;
  margin-top: -1rem;
  font-size: .9rem;
}
.upgradePopBody p{
  font-size: .95rem;
  color: gray;
  font-weight: 400;
}
.upgradePopFooter .upgradePopFooterCancel{
  width: 19%;
  display: block;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .2rem;
  font-size: .8rem;
  background-color: rgb(239, 238, 246);
  border: 1px solid rgb(35, 164, 85);
  text-decoration: none;
  color: rgb(35, 164, 85);
}
.upgradePopFooter .upgradePopFooterNow{
  width: 28%;
  display: block;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .2rem;
  font-size: .8rem;
  background-color: rgb(35, 164, 85);
  border: 1px solid rgb(35, 164, 85);
  text-decoration: none;
  color: white;
}
.upgradePopFooter{
  display: flex;
  justify-content: end;
  gap: .3rem;
}
.hidden{
  z-index: -1;
  width: 1.2rem;
  height: 1.2rem;
  accent-color: rgb(35, 164, 85);
}
.ui.checkbox {
  height: 100%;
}
.ui.checkbox {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  line-height: 17px;
  min-height: 17px;
  min-width: 17px;
  outline: 0;
  position: relative;
  vertical-align: initial;
  margin-bottom: 1rem;
}
.ui.checkbox input:checked ~ label::after {
  color: rgb(35, 164, 85) !important;
}
.ui.checkbox label::after {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(35, 164, 85);
}
.AttPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.AttPopup-content {
  background-color: white;
  padding: 20px;
  border-radius: .2rem;
  position: relative;
  /* text-align: center; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 55%;
  height: 88%;
  overflow: auto;
  position: absolute;
  top: 1.7rem;
  left: 17rem;
}
.attClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.AttNav{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.AttNav a{
  font-size: .7rem;
  color: blue;
}
.attPopCont{
  z-index: 1;
}
.atrrPopup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 56%; 
  height: 85%; 
  overflow-y: scroll;
  position: relative;
}
.AddNav{
  display: flex;
  align-items: center;
  gap: .3rem;
}
.AddNav a{
  font-size: .8rem;
  color: blue;
}
.AddNavContactCont{
  text-align: start;
}
.AttributeContactCont p{
  margin: 0px 20px 20px 0px;
  color: rgb(35, 164, 85);
  border: 1px solid rgb(35, 164, 85);
  height: 34px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 13px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}
.AttributeContactCont p:hover{
  background-color: #e8faef;
  cursor: pointer;
}
.AddNavContactCont h5{
  margin-bottom: 1rem;
}
.expireInput{
  padding: .5rem;
  width: 25%;
  background-color: rgb(245, 246, 250);
  border: none;
  margin-bottom: 1rem;
  border-radius: .2rem;
  border-color: rgb(245, 246, 250);
  outline: none;
}
.btnText{
  padding: .7rem;
  width: 25%;
  background-color: rgb(245, 246, 250);
  border: none;
  margin-bottom: 1rem;
  border-radius: .2rem;
  border-color: rgb(245, 246, 250);
  outline: none;
  font-size: .8rem;
}
.btnText::placeholder {
  color: rgb(177, 174, 174);
  opacity: 1; /* Firefox */
}
.BtnTextLabel{
  font-size: .7rem;
  margin-left: 9.8rem;
}
.sampleContent input{
  padding: .5rem;
  width: 97%;
  background-color: rgb(245, 246, 250);
  font-size: .8rem;
  border: 1px solid #22242626;
  border-radius: .2rem;
}
.sampleContent input::placeholder {
  color: rgb(177, 174, 174);
  opacity: 1; /* Firefox */
}
.sampleContentLabel{
  font-size: .7rem;
  margin-left: 37.8rem;;
}
.sampleContentCont{
  text-align: start;
  /* border-bottom: 1px solid #e0ebeb; */
}
.sampleContentCont h5{
  color: rgb(61, 61, 61);
  margin-bottom: -.2rem;
}
.sampleContentCont p{
  color: rgb(61, 61, 61);
  font-size: .8rem;
}
.sampleContentCont p a{
  color: blue;
  text-decoration: none;
}
.copyOffCont{
  display: flex;
  align-items: end;
  margin-left: 8.4rem;
  margin-top: -4.4rem;
  margin-bottom: 1rem;
}
.buttonSelect{
  margin-top: 2rem;
}
.copyOffInput{
  padding: .6rem;
  border: none;
  background-color: rgb(245, 246, 250);
  border-radius: .2rem;
  width: 87%;
  color: #000000de;
  font-size: .75rem;
  margin-top: -1rem;
}
.copyCouponInput{
  padding: .5rem;
  border: none;
  background-color: rgb(245, 246, 250);
  border-radius: .2rem;
  margin-top: -1rem;
}
.copyCouponInput::placeholder {
  color: rgb(177, 174, 174);
  opacity: 1; 
}
.copyCouponButton{
  padding: .5rem;
  width: 51%;
  text-align: center;
  border: 1px solid rgb(35, 164, 85);
  border-radius: .2rem;
  color: rgb(35, 164, 85);
  background: rgba(35, 164, 85, 0.05);
}
.copyOffInputs{
  display: flex;
    gap: .4rem;
}
.copyCouponBtn{
  text-align: -webkit-right;
}
.callPhoneInput{
  padding: .6rem;
  border: none;
  background-color: rgb(245, 246, 250);
  border-radius: .2rem;
  width: 108%;
  font-size: .75rem;
  margin-top: -1rem;
}
.callPhoneBtn{
  padding: .6rem;
  border: none;
  background-color: rgb(245, 246, 250);
  border-radius: .2rem;
  width: 88%;
  color: #000000de;
  font-size: .75rem;
  margin-top: -1rem;
}
.callPhoneBtn::placeholder {
  color: rgb(177, 174, 174);
  opacity: 1; 
}
.copyOffLabels{
  display: flex;
  flex-direction: column;
}
.copyOffLabels label{
  font-size: .8rem;
  text-align: end;
}
.quickLabels{
  display: flex;
  flex-direction: column;
}
.quickLabels label{
  font-size: .8rem;
  text-align: end;
}
.quickButton{
  padding: .5rem;
  width: 46%;
  text-align: center;
  border: 1px solid rgb(35, 164, 85);
  border-radius: .2rem;
  color: rgb(35, 164, 85);
  background: rgba(35, 164, 85, 0.05);
  margin-left: -3rem;
}
.quickLabels .copyCouponInput{
  margin-left: .3rem;
}
.visitAddBtnCont{
  display: flex;
  align-items: end;
  margin-left: 9rem;
  margin-top: -4.7rem;
}
.visistStaticCont{
  display: flex;
}
.visitBtnCont input{
  padding: .5rem;
  background-color: #dee4e4;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: .8rem;
  opacity: .5;
  outline: rgb(35, 164, 85);
}
.visitAddBtn input{
  padding: .4rem;
  width: 42%;
  border: 1px solid rgb(35, 164, 85);
  color: rgb(35, 164, 85);
  border-radius: .2rem;
  margin-left: 12rem;
}
.visistStaticContSelect{
  padding: .5rem;
  background-color: #dee4e4;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: .8rem;
  opacity: .5;
  width: 145%;
  outline: rgb(35, 164, 85);
}
.visistStaticContSelect{
  display: flex;
  gap: 3rem;
}
.visitTextCont input{
  padding: .5rem;
  background-color: #dee4e4;
  border: none;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: .8rem;
  opacity: .5;
  outline: rgb(35, 164, 85);
  margin-left: 3rem;
  width: 133%;
}
.splUpArrow{
  position: absolute;
  top: 19px;
  left: .5rem;
  padding: .4rem;
  border-radius: 2.2rem;
  background: gainsboro;
  border: none;
  font-size: .8rem;
}